 .flip-card {
    background-color: transparent;
    width: 700px;
    height: 700px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-back {
    background-color: rgb(0, 6, 12);
    color: white;
    transform: rotateY(180deg);
  }

img {
    border : 5px solid #000000;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);   
}

h1,h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  text-align: center;
  src: url('../fonts/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v15-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  }

ol{
  font-family: "Arial", "Helvetica", sans-serif;
  text-align: justify;
  }

ul{
    font-family: "Arial", "Helvetica", sans-serif;
    text-align: center;
    font-size: 20px;
    color: rgb(103, 115, 134);
    }